<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/graph/graph.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/js/plugins/chart/jquery.jqplot.min.css" />
</head>
<body>
    <button class="confirm">그래프 확인</button>
    <!--그래프 보기 팝업창 띄우기-->
    <div class="modal inmodal" id="modalStatGraph" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog2">
            <div class="modal-content animated fadeIn" id="graph_view">
                <div class="modal-header" style="cursor: move;">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">그래프</h4>
                </div>
                <div class="modal-body">

                    <!-- 일단 조회조건은 없는데 데이터가 뭐가 있어야하는지 분석해야해서 두개 남겨놓음 -->
                    <select class="form-control dept_form2 m-t" name="user_id">

                    </select>

                    <select class="form-control dept_form3 m-t" name="data_type">
                        <option value="tot_cnt"><span>짜자잔</span></option>
                        <option value="in_cnt">I/B</option>
                        <option value="out_cnt">O/B</option>
                        <option value="local_cnt">In</option>
                    </select>

                    <div class="colRight"><span id="rec_date1">2023-10-18</span> ~ <span id="rec_date2">2023-10-19</span> <span>조회</span></div>

                    <div class="tableRadius conSize b-t" style="padding: 20px 20px 10px 20px;">
                        <div id="chart" style="height: 400px;"></div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!--그래프 보기 팝업창 띄우기 끝-->
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/plugins/bootstrap.js"></script>
<script type="text/javascript" src="/js/plugins/chart/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="/js/plugins/chart/plugins/jqplot.highlighter.min.js"></script>
<script type="text/javascript" src="/js/plugins/chart/plugins/jqplot.cursor.min.js"></script>
<script type="text/javascript" src="/js/plugins/chart/plugins/jqplot.barRenderer.min.js"></script>
<script type="text/javascript" src="/js/plugins/chart/plugins/jqplot.categoryAxisRenderer.min.js"></script>
<script type="text/javascript" src="/js/plugins/chart/plugins/jqplot.pointLabels.min.js"></script>
<script>

    $(function() {
        /**
         * bar graph
         */
        var barChart = function(chartID, chartNm, chartTick, chartData) {
            $.jqplot(chartID, [chartData], {
                title: chartNm,
                animate: true,
                seriesDefaults: {
                    renderer:$.jqplot.BarRenderer,
                    rendererOptions: {
                        varyBarColor: true,
                        barMargin: 10
                    },
                    pointLabels: {
                        show: true
                    }
                },
                grid: {
                    //background: "#FFFFFF",
                    gridLineColor: "#BFBFBF",
                    drawBorder:	false
                },
                axes:{
                    xaxis:{
                        renderer:$.jqplot.CategoryAxisRenderer,
                        ticks: chartTick,
                        drawMajorGridlines: true,
                        tickOptions:{
                            textColor: "#333333",
                            showMarker:	false
                        }
                    },
                    yaxis:{
                        min: 0,
                        drawMajorGridlines: true,
                        tickOptions: {
                            formatString: "%'d",
                            textColor: "#333333",
                            showMarker:	false
                        }
                    }
                }
            });
        };



        var popStatGraph = function () {
        // var data = $grid.pqGrid("option", "dataModel.data");
        //     데이터 가져오기
        var data = [{
                    avg_call_sec: 120,
                    avg_call_time: "00:02:00",
                    five_ten_cnt: 0,
                    in_cnt: 1,
                    local_cnt: 0,
                    one_five_cnt: 1,
                    one_under_cnt: 0,
                    out_cnt: 0,
                    rec_date: "20191014",
                    rec_mode: "1",
                    rec_mode_nm: "Back",
                    ten_over_cnt: 0,
                    tot_call_sec: 120,
                    tot_call_time: "00:02:00",
                    tot_cnt: 1,
                    user_id: "lgs",
                    user_name: "lgs",
                    v_rec_date: "2019-10-14"
                    },
                    {
                    avg_call_sec: 120,
                    avg_call_time: "00:02:00",
                    five_ten_cnt: 0,
                    in_cnt: 1,
                    local_cnt: 0,
                    one_five_cnt: 1,
                    one_under_cnt: 0,
                    out_cnt: 0,
                    rec_date: "20191014",
                    rec_mode: "1",
                    rec_mode_nm: "Back",
                    ten_over_cnt: 0,
                    tot_call_sec: 120,
                    tot_call_time: "00:02:00",
                    tot_cnt: 1,
                    user_id: "lgs",
                    user_name: "lgs",
                    v_rec_date: "2019-10-14"
                    }];

        // 이름?, 데이터 크기
        var chartTick = [], chartData = [];

        // 데이터가 있다면(없지 않으면)
        if(data!=undefined && data.length>0) {
            // user_id 넣는 곳
            var data_user_id = {};

            // user_id 정하는 select박스
            var obj_user_id = $("#modalStatGraph select[name=user_id]");

            // 빈칸이면
            if(obj_user_id.html().trim()=="") {
                // user_id json 데이터 생성
                // data 개수만큼 반복
                for(var i=0;i<data.length;i++) {
                    // data_user_id[lgs] = [lgs]
                    // key, value로 담는 것
                    data_user_id[data[i].user_id] = data[i].user_name;
                }

                // user_id select box 생성
                var html = "";
                $.each(data_user_id, function(key, val) {
                    html += "<option value='" + key + "'>" + val + "</option>";
                });
                obj_user_id.html(html);
            }

            // 그래프 데이터 생성
            // 어떤 데이터를 검색할건지
            var baseField = $("#modalStatGraph select[name=data_type]").val();

            // date 길이만큼 반복
            for(var i=0;i<data.length;i++) {
                // 선택되어있는 user_id가 i번째 데이터의 user_id와 같다면.
                if(obj_user_id.val()==data[i].user_id) {
                    // chartTick에 data i 번째의 v_rec_date를 넣어라(2019-10-14)
                    chartTick.push(data[i].v_rec_date);
                    // chartData에 data i 번째의 검색조건의 이름을 가져와서 넣어준다
                    chartData.push(parseInt(eval("data[i]."+baseField)));
                }
            }
        } else {
            alert("데이터 없다");
            return;
        }

        // 상단 title 표시
        $("#modalStatGraph #rec_date1").html($("#search input[name=rec_date1]").val());
        $("#modalStatGraph #rec_date2").html($("#search input[name=rec_date2]").val());
        $("#modalStatGraph #date_type").html($("#search select[name=date_type] option:selected").text());

        $("#modalStatGraph").modal("show");

        // graph
        $("#chart").html("");
        barChart("chart", "", chartTick, chartData);
    };

    // $("#modalStatGraph select[name=user_id], #modalStatGraph select[name=data_type]").change(function(){
    // 	popStatGraph();
    // });

    $(".confirm").on('click', function(){
        popStatGraph();
    });
    })

</script>
</html>