/* 제목 폰트 */
@font-face {
    font-family: cafe24;
    src: url("../../font/NanumSquareNeo-eHv.ttf");
}

/* 내용 폰트 */
@font-face {
    font-family: cafe24air;
    src: url("../../font/NanumSquareNeo-bRg.ttf");
}


/* 전체 설정 */
body {
    margin: 0;
}

a {
    cursor: pointer;
}

.main {
    width: 100%;
    display: flex;
    margin: auto;
}

h2 {
    margin-top: 50px;
}

/* 사이드 시작 */
.side-box {
    width: 150px;
    height: 100dvh;
    background-color: #6699CC;
    font-family: cafe24air;
}

/* 해당 페이지 */
#click {
    background-color: #336699;
}

.content {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content > li {
    list-style: none;
    width: 100%;
    height: 50px;
    color : white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/* 사이드 끝 */

.main-box {
    width: 95%;
}

/* 페이지 제목 */
.title {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-family: cafe24;
}

/* 리스트 시작 */
.st-list {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-family: cafe24air;
    margin: 50px 0 0 0;
}

/* 검색 요소 */
.btn-main {
    width: 81%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.st-list  li {
    list-style: none;
    font-size: 20px;
    margin: 0 10px;
    text-align: center;
}

/* 전체 보기 */
.e-check {
    display: flex;
    align-items: center;
}

/* 검색 */
.submit {
    background-color: #6699CC;
    color: white;
    font-family: cafe24air;
    font-size: 15px;
    border: 0;
    border-radius: 6px;
    padding: 6px 15px;
    cursor: pointer;
}

.submit:hover {
    background-color: #336699;
}

/* 그래프 */
.graph {
    background-color: #6699CC;
    color: white;
    font-family: cafe24air;
    font-size: 15px;
    border: 0;
    border-radius: 6px;
    padding: 6px 10px;
    cursor: pointer;
}

.graph:hover {
    background-color: #336699;
}

/* 엑셀 */
.excel {
    background-color: #3caf39;
    color: white;
    font-family: cafe24air;
    font-size: 15px;
    border: 0;
    border-radius: 6px;
    padding: 6px 10px;
    cursor: pointer;
}

.excel:hover {
    background-color: #2f882c;
}

/* 버튼 리스트 */
.btn-list {
    display: flex;
}

.btn-main li {
    margin: 0 5px;
}

/* 통계 리스트 시작 */
.list-main-box {
    width: 80%;
    display: flex;
    text-align: center;
    flex-direction: column;
    /*border: 1px solid gray;*/
    border-radius: 5px;
    padding: 10px 0 20px 0;
    align-items: center;
    min-height: 500px;
}

.st-list-box {
    width: 90%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 3px 0;
}

.st-list-sub {
    width: 90%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5px 0;
    cursor : pointer;
}

/* 날짜 */
.date {
    width: 170px;
}

/* 이름 */
.name {
    width: 8%;
    text-align: left;
}

.name2 {
    width: 8%;
    text-align: left;
}

/* 소속 - 관리자 버전에만 적용 */
.team {
    width: 10%;
    text-align: left;
}

.team2 {
    width: 10%;
    text-align: left;
}

/* 시작 시간&끝나는 시간 */
.start-time ,
.end-time{
    width: 20%;
    text-align: left;
    padding-left: 30px;
}

.start-time2 ,
.end-time2{
    width: 20%;
}

/* 근무지 */
.wo {
    width: 20%;
}

.wo2 {
    width: 20%;
}

/* 소요 시간 */
.tt {
    width: 12%;
    text-align: left;
}

.tt2 {
    width: 12%;
    text-align: left;
}

/* 통계 리스트 끝 */

.paging-wrapper {
    margin: 30px auto 15px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.paging-wrap {
    display: flex;
    color: rgb(158, 158, 158);
    margin: 0px;
    font-family: "SF Pro Text", "Helvetica Neue", "Segoe UI", Arial, NotoSansKR, sans-serif !important;
    font-size: 14px !important;
    user-select: none;
    padding: 0;
}

.paging-wrap .paging-prev-wrap .paging-next{
    margin: 0px;
    font-size: 12px;
    font-weight: normal;
}

@media only screen and (min-width: 1080px) {
    .paging-wrap > li {
        margin: 0px 6px;
    }
}

.paging-wrap > li {
    margin: 0px 3px;
    float: none;
    display: flex;
    min-width: 22px;
    height: 25px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 0px;
    font-weight: bold;
    -webkit-box-align: center;
    align-items: center;
}

.prev .next {
    display: inline-flex;
    align-self: center;
}

paging-prev-wrap > li.paging-item {
    background-color: rgb(109, 109, 109) !important;
}

@media only screen and (min-width: 1080px) {
    .paging-wrap > li {
        margin: 0px 6px;
    }
}

.paging-item-selected {
    cursor: pointer;
    border-radius: 6px;
    min-width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    list-style: none;
    float: left;
    border: 1px solid #d9d9d9;
    background-color:#6699CC;
    margin-right: 8px;
}

.paging-item-selected a {
    color: #fff !important;
}

.paging-item {
    cursor: pointer;
    border-radius: 6px;
    min-width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    list-style: none;
    float: left;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    margin-right: 8px;
}

@media only screen and (min-width: 1080px) {
    .paging-wrap > li a {
        padding-left: 7px;
        padding-right: 7px;
        align-items: flex-end;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.015em;
    }
}

.paging-wrap > li a {
    padding-left: 3px;
    padding-right: 3px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: rgb(158, 158, 158);
}

.paging-item:hover {
    background-color:rgb(245, 239, 239);
}

.next svg {
    width: 1em;
    height: 1em;
}

.prev svg {
    width: 1em;
    height: 1em;
}

@media only screen and (min-width: 1080px) {
    .search-container {
        margin-bottom: 56px;
    }
}

input {
    font-family: cafe24air;
    border: none;
}

select {
    font-family: cafe24air;
    padding: 6px;
    border-radius: 5px;
}

.calender {
    border: 0.5px solid gray;
    border-radius: 5px;
    padding: 0 5px;
    height: 30px;
    background: white;
}

@media all and (max-width: 420px) {
    .side-box {width: 85px}
}

hr {
    border: 0.5px solid lightgray;
    width: 100%;
}

/* 모달 */
.modal-container {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    transition: background-color .1s;
    align-items: center;
    background: rgba(0,0,0, .4);
    padding: 0 24px;
    font-family: cafe24air;
}

.modal2 {
    display: flex;
    justify-content: center;
    width: 550px;
    background: #fff;
    animation: modal-show .3s;
    border-radius: 12px;
}

/* 내용 윗부분 띄우기 */
.modal-content2 {
    margin-top: 40px;
    width: 85%;
}

.modal-content select {
    width: 200px;
    font-size: 20px;
}

/* 모달 제목 설정 */
.modal-title {
    text-align: center;
    font-size: 25px;
    margin-bottom: 45px;
    margin-left: 30px;
}

.modal-close {
    float: right;
    width: 35px;
    cursor: pointer;
}

.modal-content-div {
    margin-bottom: 30px;
}

.modal-content-div:first-child {
    margin-bottom: 30px;
}

.modal-content-title {
    margin-bottom: 10px;
}

.modal-ing-checkbox {
    display: flex;
    justify-content: flex-end;
    padding-right: 140px;
    align-items: center;
}

.modal-ing-checkbox input {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.modal-ing-checkbox span {
    margin-top: 2px;
}

.modal-content-work-textarea textarea {
    width: 100%;
    height: 100px;
    resize: none;
    border-radius: 5px;
    border: 1px solid rgb(199 199 199);
}

#workTitle, .work-title {
    width: 100%;
    resize: none;
    border-radius: 5px;
    border: 1px solid rgb(199 199 199);
}

/* 버튼 div 부분 설정 */
.modal-button {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 15px;
}

/* 버튼 설정 */
.modal-btn {
    border: 0;
    background-color: rgb(102, 153, 204);
    color: #fff;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    font-family: cafe24air;
    font-weight: lighter;
}

.modal-delete {
    display: flex;
    justify-content: center;
    width: 360px;
    background: #fff;
    animation: modal-show .3s;
    border-radius: 12px;
}

.work-name-text {
    font-size: 20px;
    margin-bottom: 27px;
}

.workTime {
    border: 1px solid rgb(199 199 199);
    border-radius: 5px;
    text-align: center;
    font-family: cafe24air;
    width: 200px;
    padding: 5px 5px;
}

.modal-content-work-title {
    margin-bottom: 10px;
}

.modal3 {
    display: flex;
    justify-content: center;
    width: 505px;
    /*background: #fff;*/
    animation: modal-show .3s;
    border-radius: 12px;
}

.work_off {
    width: 8%;
}


/*근무지 선택*/
.workList1 {
    position: relative;
    width: 200px;
    margin-bottom: 20px;
}

.workList1 .search-input {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.workList1 .select-selected {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.workList1 .select-items {
    position: absolute;
    background-color: #fff;
    display: none;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
}

.workList1 .select-items div {
    padding: 8px;
    cursor: pointer;
}

.workList1 .select-items div:hover {
    background-color: #f1f1f1;
}