<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>부서 관리</title>
    <link rel="stylesheet" th:href="@{/css/fragments/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/side.css}">
    <link rel="stylesheet" th:href="@{/css/admin/department_mgmt.css}">
    <link rel="stylesheet" th:href="@{/css/modal/department_mgmt_modal.css}">
</head>
<body>
<header class="header"  th:replace="fragments/header :: header"></header>
<div class="main">

    <!-- side.html 추가하기 -->
    <div class="side"  th:replace="fragments/side :: side"></div>
    <!-- 사이드 시작 -->
    <!--<div class="side-box">
        <div class="content">
            <li>외근 현황</li>
            <li>일정 관리</li>
            <li>통계</li>
            <li id="click">관리자</li>
        </div>
    </div>-->
    <!-- 사이드 끝 -->

    <!-- 메인 시작 -->
    <div class="main-box">
        <!-- 페이지 제목 -->
        <div class="title">
            <h2>관리자</h2>
        </div>

        <input type="hidden" id="work-start-time"/>
        <input type="hidden" id="work-end-time"/>

        <!-- 서브 페이지 시작 -->
        <div class="sub-page">
            <li onclick="javascript: location.href='/admin/user-mgmt';">사원 관리</li>
            <li id="click2" onclick="javascript: location.href='/admin/department-mgmt';">부서 관리</li>
            <li onclick="javascript: location.href='/admin/workplace-mgmt';">근무지 관리</li>
            <li onclick="javascript: location.href='/admin/work-mgmt?workStartTime=' + $('#work-start-time').val() + '&workEndTime=' + $('#work-end-time').val();">근무 관리</li>
        </div>
        <!-- 서브 페이지 끝 -->

        <!-- 부서 전체 리스트 시작 -->
        <div class="dept-main">
            <!-- 부서 추가 버튼 -->
            <div class="dept-create">
                <button class="dept-btn" type="button">부서 추가</button>
            </div>

            <!-- 부서 리스트 -->
            <div class="company-list"></div>
            <!-- 부서 리스트 -->
        </div>
        <!-- 부서 전체 리스트 끝 -->

    </div>
</div>

<!-- 부서 등록 모달 -->
<div class="modal-container">
    <div class="modal">
        <div class="modal-content">
            <form th:action="@{/admin/department-regist}" method="post" name="dept-form">
                <div class="modal-title">
                    <span>부서 등록</span>
                    <div class="modal-close">
                        <svg xmlns="http://www.w3.org/2000/svg" data-name="Capa 1" id="Capa_1" viewBox="0 0 20 19.84">
                            <path d="M10.17,10l3.89-3.89a.37.37,0,1,0-.53-.53L9.64,9.43,5.75,5.54a.37.37,0,1,0-.53.53L9.11,10,5.22,13.85a.37.37,0,0,0,0,.53.34.34,0,0,0,.26.11.36.36,0,0,0,.27-.11l3.89-3.89,3.89,3.89a.34.34,0,0,0,.26.11.35.35,0,0,0,.27-.11.37.37,0,0,0,0-.53Z" />
                        </svg>
                    </div>
                </div>
                <div class="modal-major-content">
                    <span class="department-name-text">부서 이름</span>
                    <input type="text" class="department-name" name="deptName">
                </div>
                <div class="modal-button">
                    <button type="submit" class="modal-btn" id="dept-submit">등록</button>
                    <button type="button" class="modal-btn modal-real-close">취소</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 부서 등록 모달 끝 -->

<!-- 팀 등록 모달 -->
<div class="modal-container">
    <div class="modal">
        <div class="modal-content">
            <form th:action="@{/admin/team-regist}" method="post" name="team-form">
                <div class="modal-title">
                    <span>팀 등록</span>
                    <div class="modal-close">
                        <svg xmlns="http://www.w3.org/2000/svg" data-name="Capa 1" id="Capa_1" viewBox="0 0 20 19.84">
                            <path d="M10.17,10l3.89-3.89a.37.37,0,1,0-.53-.53L9.64,9.43,5.75,5.54a.37.37,0,1,0-.53.53L9.11,10,5.22,13.85a.37.37,0,0,0,0,.53.34.34,0,0,0,.26.11.36.36,0,0,0,.27-.11l3.89-3.89,3.89,3.89a.34.34,0,0,0,.26.11.35.35,0,0,0,.27-.11.37.37,0,0,0,0-.53Z" />
                        </svg>
                    </div>
                </div>
                <div class="modal-major-content">
                    <span class="department-name-text">팀 이름</span>
                    <input type="text" class="department-name" name="teamName">
                    <input type="hidden" name="deptNumber">
                </div>
                <div class="modal-button">
                    <button type="submit" class="modal-btn">등록</button>
                    <button type="button" class="modal-btn modal-real-close">취소</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 팀 등록 모달 끝 -->

<!-- 팀 수정 모달 -->
<div class="modal-container">
    <div class="modal">
        <div class="modal-content">
            <div class="modal-title">
                <span>팀 수정</span>
                <div class="modal-close">
                    <svg xmlns="http://www.w3.org/2000/svg" data-name="Capa 1" id="Capa_1" viewBox="0 0 20 19.84">
                        <path d="M10.17,10l3.89-3.89a.37.37,0,1,0-.53-.53L9.64,9.43,5.75,5.54a.37.37,0,1,0-.53.53L9.11,10,5.22,13.85a.37.37,0,0,0,0,.53.34.34,0,0,0,.26.11.36.36,0,0,0,.27-.11l3.89-3.89,3.89,3.89a.34.34,0,0,0,.26.11.35.35,0,0,0,.27-.11.37.37,0,0,0,0-.53Z" />
                    </svg>
                </div>
            </div>
            <div class="modal-major-content">
                <span class="department-name-text">팀 이름</span>
                <input type="text" class="department-name" id="team-name">
                <input type="hidden" class="department-name" id="team-number-update">
            </div>
            <div class="modal-button">
                <button type="button" class="modal-btn" id="team-update">수정</button>
                <button type="button" class="modal-btn" id="team-delete">삭제</button>
            </div>
        </div>
    </div>
</div>
<!-- 팀 수정 모달 끝 -->

<!-- 팀 삭제 모달 -->
<div class="modal-container">
    <div class="modal">
        <div class="modal-content">
            <div class="modal-major-content">
                <span class="department-name-text" style="margin-right: 0;">해당 팀을 삭제하시겠습니까?</span>
            </div>
            <div class="modal-button">
                <button type="button" class="modal-btn" style="background-color: rgb(252 82 48);" id="delete-submit">삭제</button>
                <button type="button" class="modal-btn modal-real-close">취소</button>
            </div>
        </div>
    </div>
</div>
<!-- 팀 삭제 모달 끝 -->

<!-- 부서 수정 모달 -->
<div class="modal-container">
    <div class="modal">
        <div class="modal-content">
            <div class="modal-title">
                <span>부서 수정</span>
                <div class="modal-close">
                    <svg xmlns="http://www.w3.org/2000/svg" data-name="Capa 1" id="Capa_1" viewBox="0 0 20 19.84">
                        <path d="M10.17,10l3.89-3.89a.37.37,0,1,0-.53-.53L9.64,9.43,5.75,5.54a.37.37,0,1,0-.53.53L9.11,10,5.22,13.85a.37.37,0,0,0,0,.53.34.34,0,0,0,.26.11.36.36,0,0,0,.27-.11l3.89-3.89,3.89,3.89a.34.34,0,0,0,.26.11.35.35,0,0,0,.27-.11.37.37,0,0,0,0-.53Z" />
                    </svg>
                </div>
            </div>
            <div class="modal-major-content">
                <span class="department-name-text">부서 이름</span>
                <input type="text" class="department-name" id="dept-edit">
                <input type="hidden" class="department-name" id="dept-number">
            </div>
            <div class="modal-button">
                <button type="button" class="modal-btn" id="dept-update">수정</button>
                <button type="button" class="modal-btn" id="dept-delete-btn">삭제</button>
            </div>
        </div>
    </div>
</div>
<!-- 부서 수정 모달 끝 -->

<!-- 부서 삭제 모달 -->
<div class="modal-container">
    <div class="modal">
        <div class="modal-content">
            <div class="modal-major-content">
                <span class="department-name-text" style="margin-right: 0;">해당 부서를 삭제하시겠습니까?</span>
            </div>
            <div class="modal-button">
                <button type="button" class="modal-btn" style="background-color: rgb(252 82 48);" id="remove-dept">삭제</button>
                <button type="button" class="modal-btn modal-real-close">취소</button>
            </div>
        </div>
    </div>
</div>
<!-- 부서 삭제 모달 끝 -->

</body>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script th:inline="javascript">
    let departments = [[${departmentDTOS}]];
</script>
<script src="/js/admin/admin-common.js"></script>
<script src="/js/header.js"></script>
<script src="/js/side.js"></script>
<script src="/js/admin/department_mgmt.js"></script>
</html>