<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>근무지 관리</title>
    <link rel="stylesheet" th:href="@{/css/fragments/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/side.css}">
    <link rel="stylesheet" th:href="@{/css/statistics/statistics.css}">
    <link rel="stylesheet" th:href="@{/css/admin/work_mgmt.css}">
</head>
<body>
<header class="header"  th:replace="fragments/header :: header"></header>
<div class="main">
    <!-- side.html 추가하기 -->
    <div class="side"  th:replace="fragments/side :: side"></div>

    <div class="main-box">
        <!-- 페이지 제목 -->
        <div class="title">
            <h2>관리자</h2>
        </div>
        <!-- 페이지 제목 끝 -->

        <!-- 서브 페이지 시작 -->
        <div class="sub-page">
            <li onclick="javascript: location.href='/admin/user-mgmt';">사원 관리</li>
            <li onclick="javascript: location.href='/admin/department-mgmt';">부서 관리</li>
            <li onclick="javascript: location.href='/admin/workplace-mgmt';">근무지 관리</li>
            <li id="click2" onclick="javascript: location.href='/admin/work-mgmt?workStartTime=' + $('#work-start-time').val() + '&workEndTime=' + $('#work-end-time').val();">근무 관리</li>
        </div>

        <!-- 리스트 시작 -->
        <div class="st-list">

            <!-- 검색 요소 -->
            <div class="btn-main">

                <!-- 소속 -->
                <li class="team-check">
                    <select name="" class="wo-list" id="team-list">
                        <option value="">소속을 선택해주세요</option>
                    </select>
                </li>

                <!-- 직원 이름 -->
                <li class="name-check">
                    <select name="" id="name-list" class="wo-list">
                        <option value="">이름을 선택해주세요</option>
                    </select>
                </li>

                <!-- 근무지 -->
                <li class="wo-check">
                    <select name="" class="wo-list" id="workplace-list">
                        <option value="">근무지를 선택해주세요</option>
                    </select>
                </li>

                <!-- 날짜 -->
                <li class="calender">
                    <input type="date" placeholder="시작 날짜를 입력해주세요." id="work-start-time"> ~ <input type="date" placeholder="종료 날짜를 입력해주세요." id="work-end-time">
                </li>

                <div class="btn-list">
                    <!-- 검색 및 그래프 버튼 -->
                    <li><button class="submit">검색</button></li>

                </div>
            </div>
            <!-- 검색 요소 끝 -->

            <div class="list-main-box">
                <hr>
                <div class="st-list-box">
                    <li class="name2">이름</li>
                    <li class="team2">소속</li>
                    <li class="wo2">근무지</li>
                    <li class="start-time2">시작 시간</li>
                    <li class="end-time2">종료 시간</li>
                    <li class="tt2">소요 시간</li>
                </div>
                <hr>
                <div th:if="${pageDTO.total == 0}">데이터가 없습니다.</div>

            </div>

        <!-- 페이징 -->
        <div class="paging-wrapper">
            <ul class="paging-wrap">
                <li th:if="${pageDTO.prev}" class="paging-prev-wrap" title="이전 페이지">
                    <a th:href="@{/admin/work-mgmt} + '?page=' + ${pageDTO.pageStart - 1} + '&workplaceUse=Y'" class="prev-btn">
                        <div class="prev">
                            <svg viewBox="0 0 48 48">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M32.8912 45.3014L12 23.913L32.8912 2.52471C33.5866 1.8251 34.7804 1.8251 35.4777 2.52471C36.1741 3.22333 36.1741 4.42368 35.4777 5.22224L17.1731 23.913L35.4777 42.7018C36.1741 43.4024 36.1741 44.6018 35.4777 45.4013C35.0788 45.8011 34.6819 46 34.1845 46C33.7855 45.9011 33.2881 45.7002 32.8912 45.3014Z"></path>
                            </svg>
                        </div>
                    </a>
                </li>
                <th:block th:each="page:${#numbers.sequence(pageDTO.pageStart, pageDTO.pageEnd)}">
                    <li th:if="${pageDTO.criteria.pageNum == page}" title="1" class="paging-item-selected" tabindex="0">
                        <a rel="nofollow" th:text="${page}">1</a>
                    </li>
                    <li th:if="${pageDTO.criteria.pageNum != page && pageDTO.total != 0}" title="2" class="paging-item" tabindex="0">
                        <a th:href="@{/admin/work-mgmt} + '?page=' + ${page} + '&workplaceUse=Y'" rel="nofollow" th:text="${page}" class="number-btn">2</a>
                    </li>
                </th:block>
                <li th:if="${pageDTO.next}" title="다음 페이지" tabindex="0" class="paging-next" aria-disabled="false">
                    <a th:href="@{/admin/work-mgmt} + '?page=' + ${pageDTO.pageEnd + 1} + '&workplaceUse=Y'" class="next-btn">
                        <div class="next">
                            <svg viewBox="0 0 48 48">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.9071 46C13.4118 46 12.9164 45.8001 12.6192 45.4003C11.9257 44.7007 11.9257 43.5014 12.6192 42.7019L30.8493 24.0125L12.5201 5.22317C11.8266 4.52357 11.8266 3.32425 12.5201 2.5247C13.2136 1.8251 14.3034 1.8251 15.096 2.5247L36 24.0125L15.195 45.4003C14.7988 45.8001 14.3034 46 13.9071 46Z"></path>
                            </svg>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

    </div>
    <!-- 메인 끝 -->

</div>
</div>

<!-- 일정 수정 모달 -->
<div class="modal-container modal-container-edit">
    <div class="modal2">
        <div class="modal-content2">
            <div class="modal-title">
                <span>일정 수정</span>
                <div class="modal-close">
                    <svg xmlns="http://www.w3.org/2000/svg" data-name="Capa 1" id="Capa_1" viewBox="0 0 20 19.84">
                        <path d="M10.17,10l3.89-3.89a.37.37,0,1,0-.53-.53L9.64,9.43,5.75,5.54a.37.37,0,1,0-.53.53L9.11,10,5.22,13.85a.37.37,0,0,0,0,.53.34.34,0,0,0,.26.11.36.36,0,0,0,.27-.11l3.89-3.89,3.89,3.89a.34.34,0,0,0,.26.11.35.35,0,0,0,.27-.11.37.37,0,0,0,0-.53Z"/>
                    </svg>
                </div>
            </div>
            <div class="modal-major-content">
                <input type="hidden" class="work-number">
                <input type="hidden" class="workplace-number">
                <div class="modal-content-div">
                    <div class="modal-content-title">
                        <span>근무시간</span>
                    </div>
                    <div class="modal-content-time-select">
                        <input type="datetime-local" class="workTime workRealStartTime" id="workRealStartTime" name="workRealStartTime">
                        <span>부터</span>
                        <input type="datetime-local" class="workTime workEndTime" id="workEndTime" name="workEndTime">
                    </div>
                </div>
                <div class="modal-content-div">
                    <div class="modal-content-title">
                        <span>근무지</span>
                    </div>
                    <div class="workList1">
                        <div class="select-selected" id="work1"></div>
                        <div class="select-items select-hide">
                            <input type="text" class="search-input" placeholder="검색" >
                            <div th:each="workList : ${workList}" th:data-id="${workList.workplaceNumber}"
                                 th:value="${workList.workplaceNumber}" class="workplaceNum">
                                <span th:text="${workList.workplaceName}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-content-div">
                    <div class="modal-content-title">
                        <span>근무 제목</span>
                    </div>
                    <textarea class="work-title" name="workTitle" maxlength="30"></textarea>
                </div>
                <div class="modal-content-div">
                    <div class="modal-content-title">
                        <span>근무 내용</span>
                    </div>
                    <div class="modal-content-work-textarea">
                        <textarea class="workDT2" name="workDetail"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-button">
                <button type="button" class="modal-btn edit-btn">수정</button>
                <button type="button" class="modal-btn del-btn">삭제</button>
            </div>
        </div>
    </div>
</div>
<!-- 일정 삭제 모달 -->
<div class="modal-container modal-container-del">
    <div class="modal-delete">
        <div class="modal-content2">
            <div class="modal-major-content" style="text-align: center;">
                <span class="work-name-text">일정을 삭제하시겠습니까?</span>
                <input type="hidden" class="del-number"/>
            </div>
            <div class="modal-button">
                <button type="button" class="modal-btn del-btn2" style="background-color: rgb(252 82 48);">삭제</button>
                <button type="button" class="modal-btn cal-btn2">취소</button>
            </div>
        </div>
    </div>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script th:inline="javascript">
    let statistics = [[${statisticsVOS}]];
    let workplaces = [[${workplaceDTOS}]];
    let teams = [[${teamDTOS}]];
</script>
<script src="/js/header.js"></script>
<script src="/js/side.js"></script>
<script src="/js/admin/work_mgmt.js"></script>
<script src="/js/admin/modal.js"></script>
</html>