/* 배경 */
body , .edit , .plus {
    background: #FFF3E2;
}

/* 사이드 시작 */
.side-box {
    background-color: #d96758;
}

/* 해당 페이지에 들어갔을 때 컬러 */
#click {
    background-color: #B74242;
}

#click2 {
    color: #B74242;
    font-weight: bold;
}
/* 사이드 끝 */

/* 공통 */
/* 일정 요소 */
.list1 , .list2 {
    background-color: white;
}

/* 등록 버튼 */
.plus-btn {
    background-color: #d96758;
}

/* 등록 버튼 마우스 올렸을 때 */
.plus-btn:hover {
    background-color: #B74242;
}

/* 모달 버튼 설정 */
.modal-btn {
    background-color: #d96758;
}

.modal-btn:hover {
    background-color: #B74242;
}

/* 통계 페이지 */
/* 버튼 색상 */
.submit {
    background-color: #d96758;
}

.submit:hover {
    background-color: #B74242;
}

/* 그래프 */
.graph {
    background-color: #d96758;
}

.graph:hover {
    background-color: #B74242;
}

.paging-item-selected {
    background-color: #d96758;
}

/* 관리자 페이지 */
/* 사원 관리 */
.create {
    background-color: #d96758;
}

.create:hover {
    background-color: #B74242;
}

/* 부서 관리 */
.dept-btn {
    background-color: #d96758;
}

.dept-btn:hover {
    background-color: #B74242;
}

/* 근무지 관리 */
.wo-add {
    background-color: #d96758;
}

.wo-add:hover {
    background-color: #B74242;
}

.edit-btn {
    background-color: #d96758;
}

.edit-btn:hover {
    background-color: #B74242;
}

.paging-item:hover {
    background-color: #B74242;
}

.btn > .edit {
    background-color: #d96758;
}

.btn > .edit:hover {
    background-color: #B74242;
}