<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/modal/department_mgmt_modal.css">
</head>
<body>
    <button class="modal-open">부서 추가</button>
    <button class="modal-open">부서 수정</button>
    <button class="modal-open">부서 삭제</button>
    <button class="modal-open">팀 추가</button>
    <button class="modal-open">팀 수정</button>
    <button class="modal-open">팀 삭제</button>

    <!-- 부서 등록 모달 -->
    <div class="modal-container">
        <div class="modal">
            <div class="modal-content">
                <div class="modal-title">
                    <span>부서 등록</span>
                    <div class="modal-close">
                        <svg xmlns="http://www.w3.org/2000/svg" data-name="Capa 1" id="Capa_1" viewBox="0 0 20 19.84">
                            <path d="M10.17,10l3.89-3.89a.37.37,0,1,0-.53-.53L9.64,9.43,5.75,5.54a.37.37,0,1,0-.53.53L9.11,10,5.22,13.85a.37.37,0,0,0,0,.53.34.34,0,0,0,.26.11.36.36,0,0,0,.27-.11l3.89-3.89,3.89,3.89a.34.34,0,0,0,.26.11.35.35,0,0,0,.27-.11.37.37,0,0,0,0-.53Z" />
                        </svg>
                    </div>
                </div>
                <div class="modal-major-content">
                    <span class="department-name-text">부서 이름</span>
                    <input type="text" class="department-name">
                </div>
                <div class="modal-button">
                    <button type="button" class="modal-btn">등록</button>
                    <button type="button" class="modal-btn">취소</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 부서 수정 모달 -->
    <div class="modal-container">
        <div class="modal">
            <div class="modal-content">
                <div class="modal-title">
                    <span>부서 수정</span>
                    <div class="modal-close">
                        <svg xmlns="http://www.w3.org/2000/svg" data-name="Capa 1" id="Capa_1" viewBox="0 0 20 19.84">
                            <path d="M10.17,10l3.89-3.89a.37.37,0,1,0-.53-.53L9.64,9.43,5.75,5.54a.37.37,0,1,0-.53.53L9.11,10,5.22,13.85a.37.37,0,0,0,0,.53.34.34,0,0,0,.26.11.36.36,0,0,0,.27-.11l3.89-3.89,3.89,3.89a.34.34,0,0,0,.26.11.35.35,0,0,0,.27-.11.37.37,0,0,0,0-.53Z" />
                        </svg>
                    </div>
                </div>
                <div class="modal-major-content">
                    <span class="department-name-text">부서 이름</span>
                    <input type="text" class="department-name">
                </div>
                <div class="modal-button">
                    <button type="button" class="modal-btn">수정</button>
                    <button type="button" class="modal-btn">삭제</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 부서 삭제 모달 -->
    <div class="modal-container">
        <div class="modal">
            <div class="modal-content">
                <div class="modal-major-content">
                    <span class="department-name-text" style="margin-right: 0;">부서 기술연구소를 삭제하시겠습니까?</span>
                </div>
                <div class="modal-button">
                    <button type="button" class="modal-btn" style="background-color: rgb(252 82 48);">삭제</button>
                    <button type="button" class="modal-btn">취소</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 팀 등록 모달 -->
    <div class="modal-container">
        <div class="modal">
            <div class="modal-content">
                <div class="modal-title">
                    <span>팀 등록</span>
                    <div class="modal-close">
                        <svg xmlns="http://www.w3.org/2000/svg" data-name="Capa 1" id="Capa_1" viewBox="0 0 20 19.84">
                            <path d="M10.17,10l3.89-3.89a.37.37,0,1,0-.53-.53L9.64,9.43,5.75,5.54a.37.37,0,1,0-.53.53L9.11,10,5.22,13.85a.37.37,0,0,0,0,.53.34.34,0,0,0,.26.11.36.36,0,0,0,.27-.11l3.89-3.89,3.89,3.89a.34.34,0,0,0,.26.11.35.35,0,0,0,.27-.11.37.37,0,0,0,0-.53Z" />
                        </svg>
                    </div>
                </div>
                <div class="modal-major-content">
                    <span class="department-name-text">팀 이름</span>
                    <input type="text" class="department-name">
                </div>
                <div class="modal-button">
                    <button type="button" class="modal-btn">등록</button>
                    <button type="button" class="modal-btn">취소</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 팀 수정 모달 -->
    <div class="modal-container">
        <div class="modal">
            <div class="modal-content">
                <div class="modal-title">
                    <span>팀 수정</span>
                    <div class="modal-close">
                        <svg xmlns="http://www.w3.org/2000/svg" data-name="Capa 1" id="Capa_1" viewBox="0 0 20 19.84">
                            <path d="M10.17,10l3.89-3.89a.37.37,0,1,0-.53-.53L9.64,9.43,5.75,5.54a.37.37,0,1,0-.53.53L9.11,10,5.22,13.85a.37.37,0,0,0,0,.53.34.34,0,0,0,.26.11.36.36,0,0,0,.27-.11l3.89-3.89,3.89,3.89a.34.34,0,0,0,.26.11.35.35,0,0,0,.27-.11.37.37,0,0,0,0-.53Z" />
                        </svg>
                    </div>
                </div>
                <div class="modal-major-content">
                    <span class="department-name-text">팀 이름</span>
                    <input type="text" class="department-name">
                </div>
                <div class="modal-button">
                    <button type="button" class="modal-btn">수정</button>
                    <button type="button" class="modal-btn">삭제</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 팀 삭제 모달 -->
    <div class="modal-container">
        <div class="modal">
            <div class="modal-content">
                <div class="modal-major-content">
                    <span class="department-name-text" style="margin-right: 0;">팀 개발팀을 삭제하시겠습니까?</span>
                </div>
                <div class="modal-button">
                    <button type="button" class="modal-btn" style="background-color: rgb(252 82 48);">삭제</button>
                    <button type="button" class="modal-btn">취소</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/modal/department_mgmt_modal.js"></script>
</html>