/* 제목 폰트 */
@font-face {
    font-family: cafe24;
    src: url("../../font/NanumSquareNeo-eHv.ttf");
}

/* 내용 폰트 */
@font-face {
    font-family: cafe24air;
    src: url("../../font/NanumSquareNeo-bRg.ttf");
}

body {
    margin: 0;
}

.main2 {
    /*width: 100%;*/
    display: flex;
    /*margin: auto;*/
}

/* 사이드 시작 */
.side-box {
    width: 150px;
    height: 100vh;
    background-color: #6699CC;
    font-family: cafe24air;
}

.content {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content li {
    list-style: none;
    width: 100%;
    height: 50px;
    color : white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.content a {
    text-decoration: none;
    color : white;
}

/* 해당 페이지에 들어갔을 때 컬러 */
#click {
    background-color: #336699;
}
/* 사이드 끝 */

@media all and (max-width: 420px) {
    .side-box {width: 100% !important; display: flex; height: 50px !important;}
    .top {margin-left : 280px; font-size: 13px; margin-top: 53px;}
    .logout2 {margin-left : 250px; font-size: 13px; margin-top: 53px;}
    .main2 {display: inline !important;}
    .main{flex-direction: column !important;}
    .content {margin-top : 0 !important; flex-direction: row !important; width: 50% !important;}
    .main-box {width : 100% !important;}
    h4 {margin-left : 15px !important;}
    .today {width: 100% !important; margin: auto !important;}
    .explain {justify-content: flex-start !important; margin-bottom: 20px !important;}
    .username {width: 150px !important;}
    .ow {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 250px !important;}
    .listloop {width: 93% !important; margin-left : 10px !important;}
    .list1 li { font-size: 15px !important; }
    .list1 {margin-bottom: 10px !important;}
    .work {display: none;}
    .point:before {font-size: 15px !important; padding: 0px 0px 2px 2.5px !important;}
    .point-:before {font-size: 15px !important; padding: 0px 0px 2px 4px !important;}
    .statisticspage {display: none !important;}
    .adminpage {display: none !important;}
    .color_template {flex-direction: row !important; align-items: flex-start !important;}
    .click_color {margin-top: 48px !important; top: 1px;}
}

.color_template {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: flex-end;
}

.click_color {
    display: none;
    z-index: 1;
    position: absolute;
    margin-top: 40px;
}

.click_color > select {
    width: 150px;
    padding: 5px;
}

.color_template_item {
    font-size: 30px;
    position: relative;
}