/* 제목 폰트 */
@font-face {
    font-family: cafe24;
    src: url("../../font/NanumSquareNeo-eHv.ttf");
}

/* 내용 폰트 */
@font-face {
    font-family: cafe24air;
    src: url("../../font/NanumSquareNeo-bRg.ttf");
}


/* 전체 설정 */
body {
    margin: 0;
}


.main {
    width: 100%;
    display: flex;
    margin: auto;
}

h2 {
    margin-top: 50px;
}

/* 사이드 시작 */
.side-box {
    width: 150px;
    height: 100%;
    background-color: #6699CC;
    font-family: cafe24air;
    position: fixed;
}

#click {
    background-color: #336699;
}

.content {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content > li {
    list-style: none;
    width: 100%;
    height: 50px;
    color : white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/* 사이드 끝 */

/* 메인 사이즈 설정 */
.main-box {
    width: 95%;
    height: 100dvh;
    margin-left: 150px;
}
/*  */

/* 제목 */
.title {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-family: cafe24;
}

/* 당일 날짜 */
.list-title {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    margin-bottom: 15px;
}

h4 {
    margin : 0;
}

/* 등록 버튼 */
.plus-btn, .vacation-btn {
    background-color: #6699CC;
    color: white;
    font-family: cafe24air;
    font-size: 15px;
    border: 0;
    border-radius: 6px;
    padding: 5px 15px;
    cursor: pointer;
    margin-left: 15px;
}

/* 등록 버튼 마우스 올렸을 때 */
.plus-btn:hover,
.vacation-btn:hover{
    background-color: #336699;
}

/* 휴가 등록 체크 박스*/
.vacation-btn {
    font-family: cafe24air;
}

/* 일정 리스트 */
.wo-list {
    display: flex;
    flex-direction: column;
    align-content: center;
    font-family: cafe24air;
    margin: 50px 0 0 0;
}

.list1 {
    width: 70%;
    padding: 15px 5px;
    display: flex;
    border: 0.5px solid rgb(221, 221, 221);
    border-radius: 7px;
    box-shadow: 0 5px 5px rgba(173, 173, 173, 0.19), 0 6px 6px rgba(173,173,173,0.23);
    align-items: center;
    margin: auto;
    margin-bottom: 25px;
    cursor: pointer;
}

.list1 > li {
    list-style: none;
    font-size: 20px;
}

/* 진행중일 때 */
.point1 {
    color :rgb(75, 189, 75);
    margin: 0 10px 0 10px;
}

/* 진행 완료 */
.point2 {
    color : gray;
    margin: 0 10px 0 10px;
}

/* 대기중 */
.point4 {
    color: rgb(255 154 38);
    margin: 0 10px 0 10px;
}

/* 직원 이름 */
.username {
    width: 200px;
}

/* 외근 시간 */
.usertime {
    width: 250px;
    text-align: left;
    margin: 0 10px 0 10px;
}

/* 외근지 */
.ow {
    width: 205px;
    margin: 0 10px 0 10px;
}

/* 외근 내용 */
.work {
    width: 365px;
    margin: 0 10px 0 10px;
}

/* 완료 버튼 */
.btn {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 100px;
}

/* 버튼 */
.wo-submit {
    background-color: white;
    border: 1px solid gray;
    border-radius: 6px;
    padding: 3px 15px;
    cursor: pointer;
}

textarea {
    font-family: cafe24air;
}

@media all and (max-width: 420px) {
   .list-title {margin : 0 10px 15px 0px ; width: 99%;}
    h4 {font-size : 13px}
    .plus-btn {font-size : 13px; padding : 3px 7px}
    .vacation-btn {font-size : 13px; padding : 3px 7px}
    .list1 {margin : 0 0 5px 3px; width: 95%}
    .list1 > li {font-size: 15px !important;}
    .username {display: none;}
    .usertime {width: 150px;}
    .work{display: none;}
    .submit {padding : 3px 0px; width : 40px; font-family: cafe24air}
    .modal {width: 360px !important;}
    .modal-ing-checkbox {justify-content: flex-start !important;}
    .list2 {width:100px !important;}
    .list2 > li {font-size: 15px !important;}
    .vacation { width: 70%; display: flex; flex-direction: column !important; margin: 25px 0 0 0 !important;}
    .vacation2 { width: 70%; display: flex; flex-direction: column !important; margin: 25px 0 0 0 !important;}
    .modal-content-div {margin-bottom: 15px !important;}
    .modal-content-div:first-child {margin-bottom: 10px !important;}
    .modal-title {margin-bottom: 10px !important;}
    .modal-container {overflow: scroll;}
    .modal-button {margin-top : 0 !important;}
    .wo-list {margin : 0}
    .toggle-title {margin-left: 0 !important;}
    .toggle-title2 {margin-left: 0 !important;}
    .previous, .upcoming {min-height: 50px !important;}
    .main-box {margin-left: 0 !important;}
    .list3 > li {font-size: 15px !important;}
}

/*휴가자*/
.point3 {
    color: #2a5177;
    width: 10px;
    margin: 0 10px 0 10px;
}

.username2 {
    width: 100px;
}

.list-sub {
    display: flex;
}

.list-sub2 {
    display: flex;
}

.list2 {
    width: 9%;
    padding: 10px 5px;
    display: flex;
    border: 0.5px solid rgb(221, 221, 221);
    border-radius: 7px;
    margin: 10px 3px;
    box-shadow: 0 5px 5px rgba(173, 173, 173, 0.19), 0 6px 6px rgba(173,173,173,0.23);
    align-items: center;
}

.list2 > li {
    list-style: none;
    /* margin: 0 10px; */
    margin: 0px 10px 0 10px;
    font-size: 20px;
}

.list3 {
    width: auto;
    padding: 10px 5px;
    display: flex;
    border: 0.5px solid rgb(221, 221, 221);
    border-radius: 7px;
    margin: 10px 3px;
    box-shadow: 0 5px 5px rgba(173, 173, 173, 0.19), 0 6px 6px rgba(173,173,173,0.23);
    align-items: center;
}

.list3 > li {
    list-style: none;
    /* margin: 0 10px; */
    margin: 0px 10px 0 10px;
    font-size: 20px;
}

body::-webkit-scrollbar {
    display: none;
}

.workList1 {
    position: relative;
    width: 200px;
    margin-bottom: 20px;
}

.workList1 .search-input {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.workList1 .select-selected {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.workList1 .select-items {
    position: absolute;
    background-color: #fff;
    display: none;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
}

.workList1 .select-items div {
    padding: 8px;
    cursor: pointer;
}

.workList1 .select-items div:hover {
    background-color: #f1f1f1;
}

/*휴가 등록 추가*/
.vacation_st_date,
.vacation_end_date {
    width: 170px;
    font-family: cafe24air;
}

.toggle-title {
    cursor: pointer; /* 클릭 가능한 커서 */
    display: flex; /* 화살표와 텍스트 정렬 */
    justify-content: flex-start;
    align-items: center; /* 세로 정렬 */
}

.toggle-arrow {
    transition: transform 0.3s; /* 부드러운 회전 효과 */
}

/* 펼쳐진 상태에서 화살표 회전 */
.toggle-title.expanded .toggle-arrow {
    transform: rotate(180deg); /* 180도 회전 */
}