<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/fragments/header.css}">
</head>
<body>
	<div class="top2" th:fragment="header">
		<input type="hidden" th:value="${session.memberNumber}"/>
	    <div class="top" th:if="${session.memberNumber != null}"><span th:text="${session.memberName + '님'}"/><img th:src="@{/image/header.png}"></div>
		<ul class="logout">
			<li class="logout2"><a th:href="@{/logout}">로그아웃</a></li>
		</ul>
		<li class="logout2" th:if="${session.memberNumber == null}" style="top: 0px"><a th:href="@{/login}">로그인</a></li>
	</div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="/js/header.js"></script>
</html>