<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>일정 관리</title>
    <link rel="stylesheet" th:href="@{/css/fragments/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/side.css}">
    <link rel="stylesheet" th:href="@{/css/schedule/schedule_management.css}">
    <link rel="stylesheet" href="/css/modal/work_mgmt_modal.css">
</head>

<body>
<header class="header" th:replace="fragments/header :: header"></header>
<div class="main">
    <!-- side.html 넣어주기 -->
    <!-- 사이드 시작 -->
    <div class="side" th:replace="fragments/side :: side"></div>
    <!-- 사이드 끝 -->
    <!-- 메인 시작 -->
    <div class="main-box">
        <input type="hidden" th:value="${session.sessionNumber}" class="memberNumber"/>
        <input type="hidden" class="toDay" th:value="${toDay}"/>
        <input type="hidden" class="toTime" th:value="${toTime}"/>
        <input type="hidden" class="endTime" th:value="${endTime}"/>
        <!-- 페이지 제목 -->
        <div class="title">
            <h2>일정 관리</h2>
        </div>
        <!-- 페이지 제목 끝 -->

        <!-- 일정 리스트 시작 -->
        <div class="wo-list">
            <div class="list-title">
                <div>
                    <!-- 당일 날짜 및 등록 버튼 -->
                    <h4><span th:text="${toDay}"/></h4>
                </div>
                <div>
                    <input type="hidden" class="memberUse" th:value="${session.memberUse}">
                    <button class="vacation-btn modal-open2" type="button">✨ 휴가 등록</button>
                    <button class="plus-btn modal-open" type="button">➕ 일정 등록</button>
                </div>
            </div>
            <th:block th:if="${scheduleList == null or #lists.isEmpty(scheduleList)}">
                <div style="margin: auto; font-size: 24px; margin-top: 50px; height: 300px; min-height : 300px; max-height: 300px;">
                    등록된 일정이 없습니다.
                </div>
            </th:block>
            <th:block th:unless="${scheduleList == null or #lists.isEmpty(scheduleList)}">
                <div style="min-height: 300px;">
                <div class="work-list previous" style="min-height: 60px;">
                    <span class="toggle-title" style="margin-left: 260px;">3일 이전 일정<span class="toggle-arrow">▼</span> </span>
                    <div class="toggle-content" style="display: none;">
                        <!-- 이전 일정 리스트 반복 시작 -->
                        <!-- 이전 일정 리스트 반복 끝 -->
                    </div>
                </div>
                <div class="work-list todays" style="min-height: 200px;">
                    <span class="toggle-title2" style="margin-left: 260px;">당일 일정</span>
                    <!-- 리스트 반복 시작 -->
                    <!-- 리스트 반복 끝 -->
                </div>
                <div class="work-list upcoming" style="min-height: 70px;">
                    <span class="toggle-title" style="margin-left: 260px;">내일 일정 <span class="toggle-arrow">▼</span> </span>
                    <div class="toggle-content" style="display: none;">
                        <!-- 이후 일정 리스트 반복 시작 -->
                        <!-- 이후 일정 리스트 반복 끝 -->
                    </div>
                </div>
                </div>
            </th:block>
            <th:block th:if="!(${vacationList == null or #lists.isEmpty(vacationList)})">
                <div class="vacation" style="width: 70%;margin-top: 25px;display: flex;flex-direction: column;align-content: center; margin: auto;">
                    <h4 style="margin: 0;">휴가자</h4>
                    <div class="list-sub">
                        <div class="list2" th:each="vacationList : ${vacationList}">
                            <li class="point3">●</li>
                            <li class="username2"><span th:text="${vacationList.memberName}"/></li>
                        </div>
                    </div>
                </div>
            </th:block>

            <th:block th:if="!(${myVacationList == null or #lists.isEmpty(myVacationList)})">
                <div class="vacation2" style="width: 70%;margin-top: 25px;display: flex;flex-direction: column;align-content: center; margin: auto; margin-top: 10px;">
                    <input type="hidden" th:value="${vacationCnt}" id="vacationCnt"/>
                    <h4 style="margin: 0;">내 휴가 일정</h4>
                    <div class="list-sub2">
                        <div class="list3" th:each="myVacationList : ${myVacationList}">
                            <li><span id="vacationStDate" th:text="${myVacationList.vacationStDate}"/> ~ <span id="vacationEndDate" th:text="${myVacationList.vacationEndDate}"/></li>
                            <!-- 휴가 구분 연차 or 반차 'O' : 연차 / 'H' : 반차-->
                            <input type="hidden" id="vacationCheck" th:value="${myVacationList.vacationCheck}"/>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
        <!-- 일정 리스트 끝 -->
    </div>
    <!-- 메인 끝 -->
</div>

<!-- 모달 시작 -->
<!-- 일정 등록 모달 -->
<div class="modal-container modal-container-add">
    <div class="modal">
        <div class="modal-content">
            <div class="modal-title">
                <span>일정 등록</span>
                <div class="modal-close">
                    <svg xmlns="http://www.w3.org/2000/svg" data-name="Capa 1" id="Capa_1" viewBox="0 0 20 19.84">
                        <path d="M10.17,10l3.89-3.89a.37.37,0,1,0-.53-.53L9.64,9.43,5.75,5.54a.37.37,0,1,0-.53.53L9.11,10,5.22,13.85a.37.37,0,0,0,0,.53.34.34,0,0,0,.26.11.36.36,0,0,0,.27-.11l3.89-3.89,3.89,3.89a.34.34,0,0,0,.26.11.35.35,0,0,0,.27-.11.37.37,0,0,0,0-.53Z"/>
                    </svg>
                </div>
            </div>
            <div class="modal-major-content">
                <div class="modal-content-div">
                    <div class="modal-content-title" style="display: flex;">
                        <span>업무 예상시간</span>
                    </div>
                    <div class="modal-content-time-select">
                        <input type="text" class="workTime workStartTime datetimepicker" name="workStartTime" id="workStartTime" readonly style="background-color: white;">
                        <span>부터</span>
                        <input type="text" class="workTime workEndTime datetimepicker" name="workEndTime" readonly style="background-color: white;">
                    </div>
                    <div class="modal-ing-checkbox" style="display: none;">
                        <input type="checkbox" class="workIng"><span>진행중</span>
                    </div>
                    <span style="font-size: 13px; color: red">* 출발 시간이 아닌 업무 시작 시간으로 등록해주세요.</span>
                </div>
                <div class="modal-content-div">
                    <div class="modal-content-title">
                        <span>업무시작</span>
                    </div>
                    <div class="modal-content-workautocheck-select">
                        <div class="checkboxoption">
                            <input type="checkbox" id="workAuto">자동 설정
                        </div>
                    </div>
                </div>
                <div class="modal-content-div">
                    <div class="modal-content-title">
                        <span>근무지</span>
                    </div>
                    <div class="modal-content-workplace-select">
                        <div class="workList1">
                            <div class="select-selected">근무지 선택</div>
                            <div class="select-items select-hide">
                                <input type="text" class="search-input" placeholder="검색" >
                                <div th:each="workList : ${workList}" th:data-id="${workList.workplaceNumber}"
                                     th:value="${workList.workplaceNumber}" class="workplaceNum">
                                    <span th:text="${workList.workplaceName}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-content-div">
                    <div class="modal-content-title">
                        <span>업무 제목</span>
                    </div>
                    <div class="modal-content-workplace-select">
                        <textarea type="text" id="workTitle" class="workDetail" style="text-align: start; padding: 5px;"
                                  maxlength="30"></textarea>
                    </div>
                </div>
                <div class="modal-content-div">
                    <div class="modal-content-title">
                        <span>업무 내용</span>
                    </div>
                    <div class="modal-content-work-textarea">
                        <textarea class="workDetail" id="workDetail"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-button">
                <button type="button" class="modal-btn add-btn">등록</button>
                <button type="button" class="modal-btn cal-btn">취소</button>
            </div>
        </div>
    </div>
</div>

<!-- 일정 수정 모달 -->
<form method="">
    <div class="modal-container modal-container-edit">
        <div class="modal">
            <div class="modal-content">
                <div class="modal-title">
                    <span>일정 수정</span>
                    <div class="modal-close">
                        <svg xmlns="http://www.w3.org/2000/svg" data-name="Capa 1" id="Capa_1" viewBox="0 0 20 19.84">
                            <path d="M10.17,10l3.89-3.89a.37.37,0,1,0-.53-.53L9.64,9.43,5.75,5.54a.37.37,0,1,0-.53.53L9.11,10,5.22,13.85a.37.37,0,0,0,0,.53.34.34,0,0,0,.26.11.36.36,0,0,0,.27-.11l3.89-3.89,3.89,3.89a.34.34,0,0,0,.26.11.35.35,0,0,0,.27-.11.37.37,0,0,0,0-.53Z"/>
                        </svg>
                    </div>
                </div>
                <div class="modal-major-content">
                    <div class="modal-content-div">
                        <div class="modal-content-title">
                            <span>근무시간</span>
                        </div>
                        <div class="modal-content-time-select">
                            <input type="text" class="workTime workRealStartTime datetimepicker" id="workStartTime2"
                                   name="workStartTime2" readonly style="background-color: white;">
                            <span>부터</span>
                            <input type="text" class="workTime workEndTime2 datetimepicker" id="workEndTime2"
                                   name="workEndTime" readonly style="background-color: white;">
                        </div>
                        <div class="modal-ing-checkbox">
                            <input type="checkbox" class="workIng"><span>업무 진행중</span>
                        </div>
                    </div>
                    <div class="modal-content-div">
                        <div class="modal-content-title">
                            <span>근무 예상종료시간</span>
                        </div>
                        <input type="text" class="workTime datetimepicker" id="workPredictTime" name="workPredictTime" readonly style="background-color: white;">
                    </div>
                    <div class="modal-content-div">
                        <div class="modal-content-title">
                            <span>근무지</span>
                        </div>
                        <div class="workList1">
                            <div class="select-selected" id="work1"></div>
                            <div class="select-items select-hide">
                                <input type="text" class="search-input" placeholder="검색" >
                                <div th:each="workList : ${workList}" th:data-id="${workList.workplaceNumber}"
                                     th:value="${workList.workplaceNumber}" class="workplaceNum">
                                    <span th:text="${workList.workplaceName}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-content-div">
                        <div class="modal-content-title">
                            <span>근무 제목</span>
                        </div>
                        <textarea class="work-title" name="workTitle" maxlength="30"></textarea>
                    </div>
                    <div class="modal-content-div">
                        <div class="modal-content-title">
                            <span>근무 내용</span>
                        </div>
                        <div class="modal-content-work-textarea">
                            <textarea class="workDT2" name="workDetail"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-button">
                    <button type="button" class="modal-btn edit-btn">수정</button>
                    <button type="button" class="modal-btn del-btn">삭제</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- 일정 삭제 모달 -->
<div class="modal-container modal-container-del">
    <div class="modal-delete">
        <div class="modal-content">
            <div class="modal-major-content" style="text-align: center;">
                <span class="work-name-text">일정을 삭제하시겠습니까?</span>
                <input type="hidden" class="del-number"/>
            </div>
            <div class="modal-button">
                <button type="button" class="modal-btn del-btn2" style="background-color: rgb(252 82 48);">삭제</button>
                <button type="button" class="modal-btn cal-btn2">취소</button>
            </div>
        </div>
    </div>
</div>

<!-- 휴가 등록 모달 -->
<div class="modal-container modal-container-v">
    <div class="modal">
        <div class="modal-content">
            <div class="modal-title">
                <span>휴가 등록</span>
                <div class="modal-close">
                    <svg xmlns="http://www.w3.org/2000/svg" data-name="Capa 1" id="Capa_1" viewBox="0 0 20 19.84">
                        <path d="M10.17,10l3.89-3.89a.37.37,0,1,0-.53-.53L9.64,9.43,5.75,5.54a.37.37,0,1,0-.53.53L9.11,10,5.22,13.85a.37.37,0,0,0,0,.53.34.34,0,0,0,.26.11.36.36,0,0,0,.27-.11l3.89-3.89,3.89,3.89a.34.34,0,0,0,.26.11.35.35,0,0,0,.27-.11.37.37,0,0,0,0-.53Z"/>
                    </svg>
                </div>
            </div>
            <div class="modal-major-content">
                <div class="modal-content-div">
                    <div class="modal-content-title" style="display: flex;">
                        <span>휴가 기간</span>
                    </div>
                    <div class="modal-content-workautocheck-select">
                        <div class="checkboxoption">
                            <input type="checkbox" id="only_vacation">하루 휴가
                            <input type="checkbox" id="half_vacation">반차
                        </div>
                    </div>
                    <div class="modal-content-time-select only_vacation">
                        <input type="date" class="vacation_st_date" name="vacation_st_date" id="vacation_st_date">
                        <span> 부터 </span>
                        <input type="date" class="vacation_end_date" name="vacation_end_date" id="vacation_end_date">
                    </div>

                    <div class="modal-content-time-select half_vacation">
                        <input type="text" class="datetimepicker" name="vacation_st_date" id="vacation_st_date2" readonly style="background-color: white;">
                        <span> 부터 </span>
                        <input type="text" class="datetimepicker" name="vacation_end_date" id="vacation_end_date2" readonly style="background-color: white;">
                    </div>
                </div>
            </div>
            <div class="modal-button">
                <button type="button" class="modal-btn v-add-btn">등록</button>
                <button type="button" class="modal-btn v-cal-btn">취소</button>
            </div>
        </div>
    </div>
</div>

<!-- 휴가 수정 모달 -->
<div class="modal-container modal-container-v modal-container-v-edit">
    <div class="modal">
        <div class="modal-content">
            <div class="modal-title">
                <span>휴가 수정</span>
                <div class="modal-close">
                    <svg xmlns="http://www.w3.org/2000/svg" data-name="Capa 1" id="Capa_1" viewBox="0 0 20 19.84">
                        <path d="M10.17,10l3.89-3.89a.37.37,0,1,0-.53-.53L9.64,9.43,5.75,5.54a.37.37,0,1,0-.53.53L9.11,10,5.22,13.85a.37.37,0,0,0,0,.53.34.34,0,0,0,.26.11.36.36,0,0,0,.27-.11l3.89-3.89,3.89,3.89a.34.34,0,0,0,.26.11.35.35,0,0,0,.27-.11.37.37,0,0,0,0-.53Z"/>
                    </svg>
                </div>
            </div>
            <div class="modal-major-content">
                <div class="modal-content-div">
                    <div class="modal-content-title" style="display: flex;">
                        <span>휴가 기간</span>
                    </div>
                    <div class="modal-content-workautocheck-select">
                        <div class="checkboxoption">
                            <input type="checkbox" id="only_vacation2">하루 휴가
                            <input type="checkbox" id="half_vacation2">반차
                        </div>
                    </div>
                    <div class="modal-content-time-select only_vacation2">
                        <input type="date" class="vacation_st_date" name="vacation_st_date" id="vacation_st_date3">
                        <span> 부터 </span>
                        <input type="date" class="vacation_end_date" name="vacation_end_date" id="vacation_end_date3">
                    </div>

                    <div class="modal-content-time-select half_vacation2">
                        <input type="text" class="datetimepicker datetimepicker2 vacation_st_date" name="vacation_st_date" id="vacation_st_date4" readonly style="background-color: white;">
                        <span> 부터 </span>
                        <input type="text" class="datetimepicker datetimepicker2 vacation_end_date" name="vacation_end_date" id="vacation_end_date4" readonly style="background-color: white;">
                    </div>
                </div>
            </div>
            <div class="modal-button">
                <button type="button" class="modal-btn v-edit-btn">수정</button>
                <button type="button" class="modal-btn v-del-btn">삭제</button>
            </div>
        </div>
    </div>
</div>

<!-- 휴가 삭제 모달 -->
<div class="modal-container modal-container-v modal-container-v-del">
    <div class="modal-delete">
        <div class="modal-content">
            <div class="modal-major-content" style="text-align: center;">
                <span class="work-name-text">휴가 삭제하시겠습니까?</span>
                <input type="hidden" class="del-number"/>
            </div>
            <div class="modal-button">
                <button type="button" class="modal-btn del-v-btn2" style="background-color: rgb(252 82 48);">삭제</button>
                <button type="button" class="modal-btn cal-v-btn2">취소</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="/js/header.js"></script>
<script src="/js/side.js"></script>
<script th:inline="javascript">
    let schedules = [[${scheduleList}]];
    let workplaces = [[${workplaceDTOS}]];

    $(function() {
        $(".datetimepicker").datetimepicker({
            format: "Y-m-d H:i",
            step: 10,
        });
    });
</script>
<script src="/js/schedule/schedule_common.js"></script>
<script th:src="@{/js/schedule/schedule.js}"></script>
<script src="/js/modal/work_mgmt_modal.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

</html>