/* 제목 폰트 */
@font-face {
    font-family: cafe24;
    src: url("../../font/NanumSquareNeo-eHv.ttf");
}

/* 내용 폰트 */
@font-face {
    font-family: cafe24air;
    src: url("../../font/NanumSquareNeo-bRg.ttf");
}


* {
    font-family: cafe24air;
}

input:read-only {
    background-color: #bababa99;
}

input {
    border: 1px solid rgb(199 199 199);
    border-radius: 5px;
    padding: 10px 5px;
}

/* 모달 떴을 때 배경 */
.modal-container{
    display: none;
    /* display: flex; */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    transition: background-color .1s;
    align-items: center;
    background: rgba(0,0,0, .4);
    padding: 0 24px;
}

/* 모달 형태 설정 */
.modal {
    display: flex;
    justify-content: center;
    width: 360px;
    background: #fff;
    animation: modal-show .3s;
    border-radius: 12px;
}

/* 내용 윗부분 띄우기 */
.modal-content {
    margin-top: 30px;
}

/* 모달 제목 설정 */
.modal-title {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.modal-close {
    float: right;
    width: 35px;
    cursor: pointer;
}

/* 항목 이름과 input 태그 띄우고 글씨 크기 설정 */
.workplace-name-text {
    margin-right: 15px;
    font-size: 20px;
}

/* input 태그 길이 설정 */
.workplace-name {
    width: 210px;
}

/* 버튼 div 부분 설정 */
.modal-button {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 15px;
}

/* 버튼 설정 */
.modal-btn {
    border: 0;
    background-color: rgb(102, 153, 204);
    color: #fff;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    font-family: cafe24air;
    font-weight: lighter;
}

/* 경고 메시지 설정 */
.warn {
    /*display: flex;*/
    display: none;
    color: rgb(252 110 81);
    font-size: 15px;
    justify-content: flex-end;
    margin-top: 5px;
    font-weight: 600;
}